/*reset browser*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --primary-accent-color: rgb(197, 108, 36);
}

.header {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: 1;
}

.header h1 {
  padding-top: 120px;
  color: #fff;
  font-size: 4rem;
  text-align: center;
  z-index: 2;
}

.header h2 {
  padding-top: 20px;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  z-index: 2;
}

.header i {
  padding-top: 50px;
  font-size: 4rem;
  z-index: 2;
  color: #fff;
  transition: transform 0.3s ease;
}

.header i:hover {
  color: var(--primary-accent-color);
  cursor: pointer;
}

/*section 2 question*/
.intro {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.intro img {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.intro .intro-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
}

.intro .intro-wrap .left h2 {
  font-size: 3rem;
  width: 800px;
  color: #fff;
  z-index: 2;
  padding: 150px;
}

.intro .intro-wrap .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro .intro-wrap .right .intro-desc {
  padding-top: 50px;
}

.intro .intro-wrap .right p {
  font-size: 1rem;
  width: 575px;
  height: 250px;
  color: #fff;
  z-index: 2;
  text-align: left;
}

.intro .read-btn {
  background-color: #000;
  color: white;
  border: none;
  width: 125px;
  height: 40px;
  font-size: 1rem;
  z-index: 2;
  transition: all 0.3s ease;
}

.intro .read-btn:hover {
  color: var(--primary-accent-color);
  cursor: pointer;
}

.activities {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.activities img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  z-index: 1;
}

.activities h2 {
  font-size: 3rem;
  color: #000;
  z-index: 2;
  margin-top: 60px;
}

.activities .activ-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}

.activities .activ-wrapper .container {
  display: flex;
  align-items: first baseline;
  justify-content: space-around;
  flex-direction: column;
  padding: 50px;
}

.activities .activ-wrapper .container img {
  max-width: 300px;
  min-height: 350px;
  max-height: 350px;
  z-index: 2;
}

.activities .activ-wrapper .container h3 {
  margin-top: 275px;
  z-index: 3;
  width: 300px;
  height: 50px;
  font-size: 1.15rem;
  color: #ffffff;
  padding-left: 10px;
}

.activities .activ-wrapper .container i {
  z-index: 4;
  color: #fff;
  font-size: 50px;
  transition: transform 0.3s ease;
  margin-top: -35px;
}

.activities .activ-wrapper .container i:hover {
  color: var(--primary-accent-color);
  cursor: pointer;
}

.activities .read-btn {
  background-color: #000;
  color: white;
  border: none;
  width: 125px;
  height: 40px;
  font-size: 1rem;
  z-index: 2;
  transition: all 0.3s ease;
}

.activities .read-btn:hover {
  color: var(--primary-accent-color);
  cursor: pointer;
}

.recs {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.recs img {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.recs .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
}

.recs .content-wrapper h2 {
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  width: 400px;
}

.recs .content-wrapper .content {
  margin-left: 200px;
  color: white;
}

.recs .content-wrapper .content p {
  font-size: 1rem;
  width: 550px;
  padding-top: 15px;
}

.recs .content-wrapper .content h3 {
  font-size: 1.5rem;
  width: 550px;
  padding-top: 15px;
}

.stats {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.stats img {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.stats .wrapper {
  width: 250px;
  height: 250px;
  border-radius: 65%;
  background-color: var(--primary-accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
  text-align: center;
}

.stats .wrapper h3 {
  font-size: 50px;
}

.stats .wrapper p {
  font-size: 15px;
  margin-top: -50px;
}

.testimonial {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.testimonial img {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.testimonial .test-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}

.testimonial .test-content .person {
  width: 200px;
  height: 200px;
  border-radius: 65%;
  z-index: 2;
  position: relative;
}

.testimonial .test-content p {
  margin-top: 50px;
  width: 700px;
  z-index: 2;
  background-color: rgba(217, 223, 224, 0.75);
  border-radius: 25;
}

.testimonial .test-content h3 {
  width: 700px;
  text-align: center;
  z-index: 2;
  padding-top: 15px;
  background-color: rgba(217, 223, 224, 0.75);
  border-radius: 25;
}

.testimonial .test-content i {
  font-size: 5rem;
  z-index: 2;
  padding-top: 50px;
  transition: transform 0.3s ease;
}

.testimonial .test-content i:hover {
  color: var(--primary-accent-color);
  cursor: pointer;
}

.gallery {
  width: 100vw;
  height: 384px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gallery img {
  width: 384px;
  height: 384px;
  object-fit: cover;
  z-index: 1;
}

.gallery .wrap-left {
  position: absolute;
  right: 1470px;
  font-size: 4rem;
  z-index: 2;
  transition: all 0.3s ease;
}

.gallery .wrap-left i:hover {
  color: var(--primary-accent-color);
  cursor: pointer;
}

.gallery .wrap-right {
  font-size: 4rem;
  z-index: 2;
  position: absolute;
  left: 1470px;
  transition: all 0.3s ease;
}

.gallery .wrap-right i:hover {
  color: var(--primary-accent-color);
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 600px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
.footer img {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  max-height: 600px;
  z-index: 1;
}

.footer .left {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: space-evenly;
  z-index: 2;
}

.footer .left h2 {
  font-size: 4rem;
}

.footer .left ul {
  padding-top: 20px;
  list-style-type: none;
  font-size: 1.25rem;
  text-align: left;
}

.footer .left .icon-wrapper {
  padding-top: 20px;
  font-size: 2.45rem;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* should realistically maybe make a .icon-wrapper .i 
with the transition isntead of in the wrapper(?) */
.footer .left .icon-wrapper i:hover {
  color: var(--primary-accent-color);
  cursor: pointer;
}

.footer .right {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: space-evenly;
  z-index: 2;
}

.footer .right .text,
.email,
.message {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  background-color: transparent;
  color: #000;
  border-color: #fff;
  transition: all 0.3s ease;
}

.footer .right .text:hover,
.email:hover,
.message:hover {
  color: var(--primary-accent-color);
  cursor: pointer;
}

.footer .right .message {
  height: 100px;
}

.footer .right .submit {
  background-color: #000;
  color: white;
  border: none;
  width: 125px;
  height: 40px;
  font-size: 1rem;
  margin-top: 20px;
  z-index: 2;
  transition: all 0.3s ease;
}

.footer .right .submit:hover {
  color: var(--primary-accent-color);
  cursor: pointer;
}
